<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div>
    @RenderBody()
</div>
<!--
<script type="text/javascript" src="~/scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
    -->
    <script src="~/scripts/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/scripts/Apps/ValidationFormApp.js"></script>


</body>
</html>
