@using Newtonsoft.Json
@model ValidationPoc.Models.Questionnaire
@{
    ViewBag.Title = "Angular Validation Form";
}

<div ng-app="QuestionnaireApp" class="container-fluid">
    
    <h2>Questionnaire</h2>

    <form name="form" ng-controller="QuestionnaireController"
          action="@Url.Action("Index", "Home")" ng-submit="(submitted=true) && form.$invalid && $event.preventDefault();"
          method="post" novalidate="novalidate" autocomplete="off"
          ng-cloak><!-- ng-cloak prevents elements being displayed before data is loaded -->
        <div class="row">
            <div class="col-md-12 errorColumn">
                <p>
                    Fields marked with an asterisk <span class="error">*</span> are required.
                </p>
            </div>
        </div>

            <div class="form-group">
                <label for="Name">What is your Name? <span class="error">*</span></label>
                <input id="Name" name="Name" ng-model="data.Name" type="text" ng-required="true" class="form-control">
                <div class="error" ng-show="(form.Name.$touched || submitted) && form.Name.$invalid">
                    <div ng-show="form.Name.$error.required">Name is required.</div>
                </div>
            </div>

        <div class="form-group">
            <label for="AnswerMoreQuestions">Do you want to answer more questions?</label>
            <input type="checkbox" id="AnswerMoreQuestions" name="AnswerMoreQuestions" ng-model="data.AnswerMoreQuestions" ng-true-value="true" ng-false-value="false" value="true"/>
        </div>

        <div class="form-group" ng-show="data.AnswerMoreQuestions">
            <label for="SeeMoreQuestions">Do you want to see more questions?</label>
            <input id="SeeMoreQuestions" name="SeeMoreQuestions" type="checkbox" value="true" ng-model="data.SeeMoreQuestions"/>
        </div>

        <div class="form-group" ng-show="data.AnswerMoreQuestions && data.SeeMoreQuestions">
            <label for="Velocity">What is the velocity of an unladen swallow?
                <span class="error" ng-show="data.AnswerMoreQuestions && data.SeeMoreQuestions">*</span>
            </label>
            <input id="Velocity" name="Velocity" ng-model="data.Velocity" type="number" ng-required="data.AnswerMoreQuestions && data.SeeMoreQuestions" class="form-control"/>
            <div class="error" ng-show="(form.Velocity.$touched || submitted) && form.Velocity.$invalid">
                <div ng-show="form.Velocity.$error.required">Velocity is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="Color">What is your favourite colour?<span class="error">*</span></label>
            <select data-ng-model="data.Color" name="Color" id="Color" ng-required="true" class="form-control">
                <option value="">Please Choose</option>
                <option value="Red">Red</option>
                <option value="Blue">Blue</option>
                <option value="Green">Green</option>
                <option value="Yellow">Yellow</option>
            </select>
            <div class="error" ng-show="(form.Color.$touched || submitted) && form.Color.$invalid">
                <div ng-show="form.Color.$error.required">Color is required.</div>
            </div>
        </div>

        <div class="form-group" ng-show="data.Color == 'Green'">
            <label for="TypeOfGreen">What type of green is it?<span class="error">*</span></label>
            <select data-ng-model="data.TypeOfGreen" name="TypeOfGreen" id="TypeOfGreen" ng-required="data.Color == 'Green'" class="form-control">
                <option value="">Please Choose</option>
                <option value="LightGreen">Light Green</option>
                <option value="DarkGreen">Dark Green</option>
            </select>
            <div class="error" ng-show="(form.TypeOfGreen.$touched || submitted) && form.TypeOfGreen.$invalid">
                <div ng-show="form.TypeOfGreen.$error.required">Type of green is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="UltimateQuestion">What is the ultimate question?
                <span class="error" ng-show="data.TypeOfGreen=='DarkGreen' && data.Velocity > 41">*</span>
            </label>
            <input id="UltimateQuestion" name="UltimateQuestion" ng-model="data.UltimateQuestion" type="text" ng-required="data.TypeOfGreen=='DarkGreen' && data.Velocity > 41" class="form-control"/>
            <div class="error" ng-show="(form.UltimateQuestion.$touched || submitted) && form.UltimateQuestion.$invalid">
                <div ng-show="form.UltimateQuestion.$error.required">Ultimate Question if required.</div>
            </div>
        </div>

        <div>
            <input class="btn btn-success" type="submit" value="Save">
        </div>
    </form>
</div>

<textarea id="data" style="display: none;">@Html.Raw(JsonConvert.SerializeObject(Model))</textarea>